{% extends "layout/full-width.html" %}

{% block title %}测试平台{% endblock %}

{% block main %}
    <div class="ibox-content m-b-sm border-bottom">
    {% if config.DEBUG %}
    {{ request.endpoint }}
    {% endif %}
    </div>
    <div class="ibox-content m-b-sm border-bottom">
      <div id="mc" style="width: 600px;height:400px;"></div>
    </div>
{% endblock %}

{% block javascript %}
  <script>
  require(['echarts'], function (echarts) {
    var myChart = echarts.init(document.getElementById('mc'));
        // 指定图表的配置项和数据
        var option = {
            title: {
                text: 'ECharts 入门示例'
            },
            tooltip: {},
            legend: {
                data:['销量']
            },
            xAxis: {
                data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                data: [5, 20, 36, 10, 10, 20]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
  });
  </script>
{% endblock %}
